<!DOCTYPE html>
<html>
  <body>
    <section>
      <div class='col-xs-10 col-xs-offset-1'>
        <h2>New Post</h2>
        <%= render 'form' %><br>
        <%= link_to 'Back', blogs_path, class:'col-sm-offset-2 btn btn-primary' %>
      </div>
    </section>
  </body>
</html>
