<dl class='col-xs-12 col-sm-9 col-sm-offset-1 col-md-8 col-md-offset-2'>
  <dd>
    <%= @blog.post %>
  </dd>
  <dd>
    <%= link_to blogs_path, class: 'col-xs-offset-9 col-sm-offset-10 label label-default' do %>
      <span><%= (@blog.post_date).to_formatted_s(:rfc822) %></span>
    <% end %>
  </dd>
  <% if can? :manage, Blog %>
    <%= link_to 'Edit', edit_blog_path(@blog), class:'col-sm btn btn-default' %>
  <% end %>
</dl>
