<!DOCTYPE html>
<html>
<body>
  <section>
    <div>
      <img class='img-responsive' src='http://s3-us-west-1.amazonaws.com/soliskit/la-gradient.jpg' alt='background'>
    </div>
  </section>
  <section class='wrapper'>
    <div class='container-fluid'>
      <%= image_tag 'me.png', class: :'header-photo', alt: 'profile photo', id:'about' %>

      <dl class='col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3'>
        <dd>
          I'm David Solis, an independent Ruby on Rails developer based in San Francisco, CA.
          My past work includes training and development for technical support teams at Apple before becoming a software developer.
        </dd>
        <dd>
          Read my first blog <%= link_to 'post', '/blogs/1', id:'blog-link' %> to find out more about me.
        </dd>
        <br>
        <dd>
          Contact me for local or remote work, or just to comment on one of my posts.
        </dd>
      </dl>
    </div>
    <div class='container-fluid'>
      <div class='visible-xs visible-sm btn-group contact-icon-group pull-right' role='group'>
        <a href='mailto:hello@davidesolis.com', class='btn btn-default'>
          <span class='icon-stamp'></span>
        </a>
        <a target='_blank' href='https://github.com/Litlmoz', class='btn btn-default' >
          <span class='icon-github'></span>
        </a>
        <a href='tel:4156356602', class='btn btn-default'>
          <span class='icon-phone'></span>
        </a>
      </div>
      <ul class='hidden-xs hidden-sm col-sm-6 col-sm-offset-3 pull-right contact-info'>
        <li><a href='mailto:hello@davidesolis.com'><p>
          <span class='icon-stamp'></span> hello@davidesolis.com</p></li></a>
        <li><a target='_blank' href='https://github.com/Litlmoz'><p>
          <span class='icon-github'></span> litlmoz</p></li></a>
        <li><p><span class='icon-phone'></span> 415-244-7263</p></li>
      </ul>
    </div>
  </section>
</body>
</html>
