<!DOCTYPE html>
<html>
<body>
  <section>
    <div class='wrapper col-md-8 col-md-offset-2'>
      <%= image_tag 'me.jpg', class: :'img-responsive profile-photo', alt: 'profile photo' %>
      <h2>About Me</h2>
      <br>
        <dl>
          <dt>
            Past
          <dt>
          <dd>
          </dd>
          <br>
          <dt>
            Present
          <dt>
          <dd>
          </dd>
          <dt>
            Future
          <dt>
          <dd>
            Ruby on Rails developer.
          </dd>
        </dl>
      </div>
    </div>
  </section>
</body>
</html>
