<!DOCTYPE html>
<html>
<body>
  <section>
    <%= image_tag 'me.jpg', class: :'img-responsive header-photo', alt: 'profile photo' %>

      <dl class='col-md-8 col-md-offset-2'>
        <dd>
          I'm David Solis, an independent Ruby on Rails developer based in San Francisco, CA.
          My past work includes training and development for technical support teams at Apple before becoming a software developer.
        </dd>
        <dd>
          Read my first blog <%= link_to "post", "/blogs/1", id:'blog-link' %> to find out more about me.
        </dd>
        <br>
        <dd>
          Contact me for local or remote work, or just to comment on one of my posts.
        </dd>
      </dl>
    </dd>
    <div class='visible-xs visible-sm btn-group contact-icon-group pull-right' role='group'>
      <a href='mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#115;&#111;&#108;&#105;&#115;&#107;&#105;&#116;&#046;&#099;&#111;&#109;',
          class='btn btn-default'>
          <span class='icon-stamp'></span>
      </a>
      <a href='https://github.com/Litlmoz',
          class='btn btn-default' >
          <span class='icon-github'></span>
      </a>
      <a href='tel:4156356602',
          class='btn btn-default'>
          <span class='icon-phone'></span>
      </a>
    </div>
    <ul class='hidden-xs hidden-sm col-sm-5 col-md-offset-7 contact-info'>
      <li><a href='mailto:contact@davidesolis.com'><h5><span class='icon-stamp'></span> contact@davidesolis.com<h5></li></a>
      <li><a href='https://github.com/Litlmoz'><h5><span class='icon-github'></span> litlmoz<h5></li></a>
      <li><h5><span class='icon-phone'></span> 415-244-7263<h5></li>
    </ul>
  </section>
</body>
</html>
