<!DOCTYPE html>
<html>
<body>
  <section id='about'>
    <%= render 'page/about' %>
  </section>
  <section id='blog'>
    <%= render 'blogs/blog' %>
  </section>
  <section id='photos'>
    <%= render 'photos/gallery' %>
  </section>
</body>
</html>
