<!DOCTYPE html>
<html>
<body>
  <section>
    <%= render 'page/about' %>
  </section>
  <section>
    <%= render 'blogs/blog' %>
  </section>
  <section>
    <%= render 'photos/gallery' %>
  </section>
</body>
</html>
