<!DOCTYPE html>
<html>
  <header style="background-image:url(http://s3-us-west-1.amazonaws.com/soliskit/la-gradient.jpg); background-color: #333;">
    <div class="header-content">
      <div class="header-content-inner" style="min-height: 300px;">
      </div>
    </div>
  </header>
  <body>
    <section id='about'>
      <%= render 'page/about' %>
    </section>
    <section id='blog'>
      <%= render 'blogs/blog' %>
    </section>
    <section id='photos'>
      <%= render 'photos/gallery' %>
    </section>
  </body>
</html>
