<!DOCTYPE html>
<html>
<body>
  <section>
      <img id='index-photo' src='https://s3-us-west-1.amazonaws.com/soliskit/la_gradient.jpg' alt='background'>
    <div class='container wrapper'>
      <%= image_tag 'me.jpg', class: :'img-responsive profile-photo', alt: 'profile photo' %>
      <h2 class='col-xs-offset-8 col-sm-offset-10 col-md-offset-10'>About Me</h2><br>
    </div>
  </section>
</body>
</html>
