<!DOCTYPE html>
<html>
<body>
  <section>
    <div>
      <img id='index-photo' src='https://s3-us-west-1.amazonaws.com/soliskit/la_gradient.jpg' alt='background'>
    </div>
    <!-- #ffe4e1 -->
  </section>
</body>
</html>
