<!DOCTYPE html>
<html>
<body id='homepage'>
  <section>
    <div>
      <img id='homepage-photo' src='https://s3-us-west-1.amazonaws.com/soliskit/la_gradient.jpg' alt='background'>
    </div>
    <div class='container-fluid'>
      <%= image_tag 'spacer.png', style: :'min-width: 750px; width: 100%; img-responsive' %>
    </div>
  </section>
</body>
</html>
