<!DOCTYPE html>
<html>
<body>
  <section>
      <h5>a brief about me</h5>
      <h5>photography</h5>
      <h5>blog</h5>
    <div>
      <img src='https://s3-us-west-1.amazonaws.com/soliskit/la.jpg' alt='background' style='width:100%'>
    </div>
  </section>
</body>
</html>
