<!DOCTYPE html>
<html>
<body>

  <header>
    <a href="/photos" id="logo">
        <h1>Favorite year</h1>
        <h2>first of many 👬</h2>
    </a>
    <nav>
      <ul>
        <li><a href="/photos">Photo Gallery</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>
  <div id="wrapper">
    <section>
      <%= yield %>
    </section>
    <footer>
      <a href="https://twitter.com/soliskit"><img src="https://s3-us-west-1.amazonaws.com/soliskit/twitter-wrap.png" alt="Twitter Logo" class="social-icon"></a>
      <a href="https://facebook.com/litlmoz"><img src="https://s3-us-west-1.amazonaws.com/soliskit/facebook-wrap.png" alt="Facebook Logo" class="social-icon"></a>
      <p>&copy; 2016 David Solis.</p>
    </footer>
  </div>

</body>
</html>
