<!DOCTYPE html>
<html>
<body>
  <section>
    <div class='flex-container'>
      <h5 class='flex-item'>a brief about me</h5>
      <h5 class='flex-item'>photography</h5>
      <h5 class='flex-item'>blog</h5>
    </div>
    <div>
      <img src='https://s3-us-west-1.amazonaws.com/soliskit/la.jpg' alt='background' style='width:100%'>
    </div>
  </section>
</body>
</html>
