<!DOCTYPE html>
<html>
  <body>
    <section>
      <div class='container wrapper'>
        <h2 class='col-xs-offset-8 col-sm-offset-10 col-md-offset-10'>Photos</h2><br>
      </div>
        <div class='container wrapper'>
          <div class='row'>
            <% @photos.each do |photo| %>
              <div class='col-sm-6 col-md-4'>
                <div class='thumbnail'>
                  <% link_to photo, photo_path do %>
                    <%= image_tag(photo.image) %>
                  <% end %>
                </div>
                <div class='caption'>
                  <p><%= photo.text.downcase.titleize %><p>
                </div>
              </div>
            <% end %>
          </div>
          <%= link_to 'New Photo', new_photo_path %>
        </div>
        <%= yield %>
    </section>
  </body>
</html>
