<p>
  <strong>Image:</strong>
  <%= image_tag(@photo.image) %>
</p>

<p>
  <strong>Text:</strong>
  <%= @photo.text %>
</p>

<p>
  <strong>Presentation order:</strong>
  <%= @photo.presentation_order %>
</p>
