/********************************
GENERAL
*********************************/

body {
  font-family: 'Helvetica Neue', Helvetica, Ariel, sans-serif;
  background-color: #D1E2F0;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: auto;
    height: 250px;
    background-color: #D1E2F0;
    align-items: center;
    direction: rtl;
}
.flex-item {
    width: auto;
    height: 100px;
    margin: 10px;
}

/********************************
FOOTER
*********************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 20px;
  color: #ccc;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
