<a target='_blank' href="https://twitter.com/davidsoliskit">
  <%= image_tag 'social-icon/twitter.svg', class: :'social-icon' %>
</a>
<a target='_blank' href="https://davidsoliskit.tumblr.com">
  <%= image_tag 'social-icon/tumblr.svg', class: :"social-icon" %>
</a>
<p style='color: #3B2E40; font-size: 13px;'>
  &copy; <%= (Time.now).year %> David Solis
</p>
